.container {
    background-color: #EEEEEE;
    margin-top: 20px;
}

.chartArea {
    min-height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
}

.form {
    width: 700px;
    margin: 0 auto;
}

.button {
    position: relative;
    top: 27px;
    left: 608px;
    border: none;
    background-color: transparent;
    z-index: 1;
    font: 1.5em Verdana, Arial;
    color: #ccc;
    font-family: Verdana, Arial;
}

.button:hover {
    color: #fff;
    background-color: #DC3912;     
}

.buttonInfo {
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: #616161;
}

.head {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
.searchPerson, .showGraph {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.buttonStatistic {
    width: 100px;
    height: 30px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px #ccc;
}
.buttonStatistic:hover{
    box-shadow: inset 2px 2px #ccc;
}
label {
    margin-right: 10px;
    color: #616161;
    font-size: 1.2em;
}

#search {
    padding-left: 5px;
    border-radius: 7px;
    height: 30px;
    width: 300px;
}
.firstName {
    font-size: 20px;
    font-weight: bold; 
}

.fa-male, .fa-female {
    color: #616161;
    font-size: 25px !important;
}
